@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #677788;
  margin: 0;
}

.nav-menu {
  display: flex;
  width: auto;
  height: 57px;
  /* padding: 6px 14px; */
  gap: 30px;
  align-items: center;
}
.nav-list {
  display: flex;
  width: auto;
  height: 17px;
  list-style: none;
  gap: 20px;
}

.nav-list li a {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #677788;
}

.buy-now {
  display: flex;
  justify-content: center;
  width: 102px;
  height: 45px;
  /* font-family: Inter; */
  font-weight: 700;
  font-size: 12px;
  padding: 15px 25px;
  line-height: 100%;
  background-color: #2476ff;
  color: white;
  border-radius: 30px;
  border: none;
  gap: 20px;
}

.front-logo {
  width: 154.9px;
  height: 46.1px;
  gap: 10px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 446px;
  padding: 40px 30px 0px 30px;
  background-image: url(/assets/bg/background-top.svg);
}

.hero-section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  /* padding-bottom: 60px; */
  gap: 30px;
}

.hero-section .left .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 172px;
  width: auto;
  gap: 11px;
}

.hero-section .left .title h1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}

.hero-section .left .actions {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 24px;
}

.hero-section .left .actions .learn-more {
  width: 78px;
  height: 17px;
  color: #677788;
  text-decoration: none;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.play-video {
  display: flex;
  width: 137px;
  height: 48px;
  gap: 8px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-radius: 30px;
  background: #2476ff;
  color: white;
  border: none;
  font-size: 12px;
  font-family: Inter;
}

.fa-circle-play {
  font-weight: 900;
  font-size: 18px;
}

.hero-section .right {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 406px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.logo img {
  width: 48px;
  height: 48px;
}

.logo {
  background-color: white;
}

.hero-section .right .asana {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 10px;
  left: 380px;
  /* padding: 16px; */
}

.hero-section .right .calendar {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 310px;
  left: 364px;
  /* padding: 16px; */
}

.hero-section .right .weave {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 172px;
  left: 262px;
  /* padding: 16px; */
}

.hero-section .right .paypal {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 172px;
  left: 44px;
  /* padding: 16px; */
}

.hero-section .right .atlassian {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 10px;
  left: 175px;
  /* padding: 16px; */
}

.hero-section .right .google-ads {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 290px;
  left: 155px;
  /* padding: 10px; */
}

.hero-section .right .google {
  box-shadow: 0px 3px 13px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 10px;
  left: 64px;
  /* padding: 10px; */
}

.hero-section .right .google-ads img {
  width: 40px;
  height: 40px;
}

.hero-section .right .google img {
  width: 40px;
  height: 40px;
}

h3 {
  width: auto;
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  margin: 0px;
}

/* ----------
WHY FRONT SECTION
---------- */

.why-front-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 354px;
  /* padding: 0px 30px 80px; */
  gap: 40px;
}

.why-front-section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 89px;
  gap: 10px;
}

.why-front-section .features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  padding: 0px 34px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* padding: 26px 0px; */
  width: fit-content;
  /* height: 145px; */
}

.why-front-section .bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 4px;
}

.why-front-section .bullet-left-one {
  width: 83px;
  height: 1px;
}

.why-front-section .bullet-left-two {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

.why-front-section .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  gap: 10px;
  border-radius: 50%;
  /* padding: 10px; */
  background: #ecf2ff;
}

.why-front-section .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0066ff;
}

.why-front-section .bullet-right-one {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

.why-front-section .bullet-right-two {
  width: 83px;
  height: 1px;
}

.why-front-section h3 {
  width: 100%;
  height: 19px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

/* ----------
PRICING SECTION
---------- */

.pricing-section {
  display: flex;
  flex-direction: column;

  /* padding-bottom: 120px; */
  gap: 60px;
  height: 692px;
  /* height: fit-content; */
}

.pricing-section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  /* height: fit-content; */
  margin: 0px;
}

.plan-features img {
  width: 50px;
  height: 50px;
}

.pricing-table {
  display: flex;
  /* align-items: center; */
  margin: 0px auto;
  justify-content: center;
  height: fit-content;
  padding: 0px 30px;
  gap: 30px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  flex: 1;
  padding: 40px;
  gap: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 10px 20px 0px #00000026;
}

.plan-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: 194px;
  gap: 30px;
}

.plan-header .about-price {
  width: auto;
  height: 72px;
  text-align: start;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.price {
  display: flex;
  width: auto;
  /* height: 61px; */
  height: fit-content;
  gap: 7px;
}

.fifty-nine {
  display: flex;
  align-items: flex-end;
  font-family: Inter;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: black;
}

.per-mo {
  display: flex;
  align-items: flex-end;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 20px;
  line-height: 100%;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: #8d8d8d;
}

.plan-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.plan-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 2;
}

.plan-features h4 {
  margin: 0;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.row-one {
  display: flex;
  align-items: center;
  height: 219px;
  gap: 10px;
}

.row-two {
  display: flex;
  height: 219px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.content p {
  width: auto;
  height: 66px;
  text-align: start;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.plan-feature-item {
  width: 277px;
  height: 219px;
  gap: 20px;
  /* padding: 20px; */
  border-width: 1px;
}

.row-two .content {
  flex: 1;
  height: 161px;
}

.title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 23px;
}

.title-with-icon .title {
  font-size: 16px;
}

.sketch-button {
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60px;
  height: 23px;
  border-radius: 15px;
  /* padding: 4px 10px; */
  background-color: #01c9a7;
  color: white;
}

/* ----------
HIRE US SECTION
---------- */

.hire-us-section {
  display: flex;
  height: 708px;
  padding: 30px;
  background-color: #20335b;
}

.hire-us-section .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 70px;
  gap: 60px;
  flex: 1;
}

.hire-us-section .left .top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 370px;
  height: 180px;
}

.hire-us-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100px;
  gap: 34px;
  border-bottom: 1px solid white;
}

.htitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 65px;
}

.hire-us {
  display: flex;
  justify-content: flex-start;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  margin: 0px;
  line-height: 100%;
  text-align: center;
  color: white;
}

.whatever {
  display: flex;
  justify-content: flex-start;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}

.quote {
  display: flex;
  text-align: start;
  height: 48px;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.hire-us-section .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  height: 123px;
  width: auto;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 43px;
  /* padding-right: 20px; */
  gap: 4px;
}

.name {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: white;
  margin: 0px;
  text-align: start;
}

.about-person {
  width: auto;
  height: 17px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #677788;
  text-align: start;
}

.hire-us-section .left .bottom img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hire-us-section .right {
  display: flex;
  height: 648px;
  gap: 10px;
  /* padding: 30px; */
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hire-us-section .right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  gap: 37px;
  background-color: white;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 506px;
  gap: 20px;
}

.form-description {
  font-family: SF Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.form-group {
  display: flex;
  gap: 20px;
}

.form-group input {
  display: flex;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  /* padding: 0px 10px; */
  gap: 10px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.first-last-name input {
  width: 100%;
}

.email {
  width: 100%;
}

.form-group div {
  width: 100%;
}

.form-group div select {
  width: 100%;
  height: 44px;
  justify-content: space-between;
  /* padding-top: 10px; */
  /* padding-right: 16px; */
  /* padding-bottom: 10px; */
  /* padding-left: 10px; */
  border-radius: 5px;
  border-width: 1px;
}

.yes-and-privacy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
}

.yes {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.checkbox {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkbox input {
  width: 25px;
  height: 28px;
  padding-top: 4px;
}

.about-yes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 22px;
  color: #828282;
}

.privacy-policy {
  width: 120px;
  font-family: SF Pro;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #677788;
}

form .actions {
  display: flex;
  height: 45px;
  width: auto;
  gap: 24px;
}

form .actions button {
  display: flex;
  justify-content: center;
  width: 137px;
  height: 48px;
  gap: 8px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-radius: 30px;
  background: #2476ff;
  color: white;
  border: none;
  font-size: 12px;
  font-family: Inter;
}

/* ----------
FOOTER SECTION
---------- */

footer {
  display: flex;
  height: 246px;
  gap: 40px;
  padding: 40px 30px;
}

footer .about {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 93.76px;
  gap: 20px;
}

footer .about .front-logo {
  width: 100px;
  height: 29.76px;
}

footer .about .nav {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 44px;
  gap: 10px;
}

footer .phone a {
  text-decoration: none;
}

footer .about .nav div {
  display: flex;
  justify-content: flex-start;
}

footer .about .nav div p {
  display: flex;
  gap: 9px;
}

footer h4 {
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
  color: black;
  margin: 0px;
}

footer .lists {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer .first,
footer .second {
  display: flex;
  gap: 49px;
  width: 100%;
  justify-content: space-evenly;
}

footer .lists .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .lists ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
}

footer .list ul li a,
.resources a {
  color: #677788;
  text-decoration: none;
}

.career {
  display: flex;
  gap: 9px;
}

.hiring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 14px;
  border-radius: 3px;
  /* padding: 2px 4px; */
  gap: 10px;
  background-color: #2576ff;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 8px;
  line-height: 100%;
  color: white;
}

footer .lists .resources .nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .lists .resources .nav .fa-solid {
  color: #677788;
}
